@page
@model deneme.Pages.User.UpdateUserModel
@{
    //<input type="hidden" asp-for="UserForUpdate.Id" />
}
<form method="post">
   
    <div class="row">
        <label>Update User</label>
        <label>ID</label>
        <input asp-for="UserForUpdate.Id" />
        <label>New Name</label>
        <input asp-for="UserForUpdate.Name" />

    </div>
    <div class="row">
        <label>New Email</label>
        <input asp-for="UserForUpdate.Email" />
    </div>
    <div class="row">
        <button type="submit">Kaydet</button>
    </div>
</form>