@page
@model deneme.Pages.Panel.PanelModel
@{
}

<form method="post">
    <div class="row">
        <label>Isim giriniz</label>
        <input asp-for="NewUser.Name" />
    </div>
    <div class="row">
        <label>Email giriniz</label>
        <input asp-for="NewUser.Email" />
    </div>
    <div class="row">
        <button type="submit">Kaydet</button>
    </div>
</form>

