@page
@model deneme.Pages.User.CreateUserModel
@{
}
<form method="post">
    <input type="hidden" asp-for="NewUser.Id" />
    <div class="row">
        <label>Name</label>
        <input asp-for="NewUser.Name" />
    </div>
    <div class="row">
        <label>Email</label>
        <input asp-for="NewUser.Email" />
    </div>
    <div class="row">
        <label asp-for="NewUser.IsAdmin">Admin:</label>
        <input type="checkbox" asp-for="NewUser.IsAdmin" />
    </div>
    <div class="row">
        <button type="submit">Kaydet</button>
    </div>
</form>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.DataList)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Name</td>
                <td>@user.Email</td>
            </tr>
        }
    </tbody>
</table>
