@page
@model deneme.Pages.User.DeleteUserModel
@{
}
<form method="post">
    <div class="row">
        <label>Delete User</label>
        <label>ID</label>
        <input asp-for="DeleteUser.Id" />
      <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
